body{
    font-family: arial, sans-serif; /* стиль */
}


nav{
width: 100%;
height: 60px;
background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px; 
    float: left;
}
.menu{
    float: left;
    padding-left: 431px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    text-transform: uppercase; /* все буквы главные*/
}

.main{
    width: 100%;
    height: 100%;
    background:url(../IMG/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.jpg) 90% 100%/auto 85% no-repeat , url(../IMG/BG.jpg) no-repeat;
}

.title__container{
    float: left; /*структура право --) лево */
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 40px;
    font-size: 26px;
    color: #aaaeb9;
}

.title__container input{
    height: 40px; /* высота кнопки */
    text-align: center; /* выравнивание в центре кнопки */
    border: 2px solid #6d7682;/* кнопка/ обводка */
    background: none; /* удаление фона кнопки */
    border-radius: 5px; /* закругление */
    color: #6d7682; 
    font-weight: bold; /* жирный текст */
    font-size: 13px; /* размер шрифта */
    padding: 0px 16px; /* оступ */
    margin: 50px 14px 0px 14px; /* тоже отступ */
}

.about_me{
    width: 100%;
    height: 100%;
    float: left;
    background:url(../IMG/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png) center 35% no-repeat, url(../IMG/%D0%A7%D0%B5%D1%80%D1%82%D0%B0_%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg) center 20%  no-repeat, url(../IMG/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9_%D1%81%D0%BB%D0%BE%D0%B9.jpg) no-repeat ;
    text-align: center;   
}

.about_me h3{
    margin: 110px 0px 0px 875px; 
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.about_me am1{
    float: left;
    margin: 450px 596px 0px 0px;
    
}

.about_me input{
    height: 32px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    margin: 0px 16px;
    padding: 0px 16px;
    background: url(../IMG/%D0%B4%D0%B8%D1%81%D0%BA.jpg) left/auto 18px no-repeat;
    padding-left: 25px;
    color: #6f707e;
    font-size: 16px;
    font-weight: bold;
}

.what_i_can{
    width: 100%;
    height: 100%;
    float: left;
    background: url(../IMG/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0_%D1%84%D0%BE%D0%BD%D0%B0.jpg) no-repeat;
    text-align: center;
    
}

.wnat_i_can item_skills{
    float: left;
}



.statistics{
    width: 100%;
    height: 100%;
    float: left;
    background: url(../IMG/%D1%84%D0%BE%D0%BD_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.jpg) no-repeat;
    text-align: center;    
}

.contacts{
    width: 100%;
    height: 100%;
    float: left;
    background: url(../IMG/%D1%84%D0%BE%D0%BD_%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg) no-repeat;
    text-align: center;
    color: #fff;
}